name: datastructures-algorithms-ci-cd

on:
  push:
    branches: [ main, release ]
  pull_request:
    branches: [ main, release ]

jobs:
  lint-build-test:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Install dependencies
      run: |
        choco install cmake -y
        choco install ninja -y
        choco install llvm -y

    - name: Configure CMake
      run: cmake -S . -B build -G "Ninja" -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

    - name: Run clang-tidy
      shell: pwsh
      run: |
        clang-tidy --version
        $files = Get-ChildItem -Recurse -Path include, source -Include *.h,*.hpp,*.cpp,*.cc,*.cxx -File
        foreach ($file in $files) {
          Write-Host "Running clang-tidy on $($file.FullName)"
          clang-tidy -p build "$($file.FullName)" --warnings-as-errors=* --checks=-clang-diagnostic-pragma-once-outside-header
        }

    - name: Build
      run: cmake --build build

    - name: Run tests
      run: ctest --test-dir build --output-on-failure